head
	title Click n' Clean
	meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
	link(href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css')
	link(rel='icon' type='image/png' href='/assets/img/icon3.png')
