@media screen and (max-width: 480px)
	#icon
		display none
@media screen and (max-width 384px)
	#hour
		margin-left 13px
@media screen and (max-width 320px)
	#hour
		margin-left 30px
	.brand
		font-size 16px