div.thanks-div
	margin-top 80px
h4.thanks
	color #29B6F6
	font-family 'Roboto', sans-serif
	font-weight 100
h5.order-submitted
	font-family 'Quicksand'
	color #888
#view-orders
	color #eee !important
