template(name='thanks')
	div.container-fluid.text-center.thanks-div.up-animate
		h2.thanks Thank You!
		h5.order-submitted Your order has been submitted.

	div.container-fluid.text-center
		a.btn.btn-material-light-blue-400#view-orders VIEW ORDERS