.monthly-res-div
	margin-top 30px
.modal-title
	font-family 'Quicksand'
	color #29B6F6
.modal-price
	font-family 'Quicksand'
	color #222
#modal-action
	//color #29B6F6 !important
	margin-right 10px
#package-modal
	animation-duration 1.0s
	animation-delay 0.0s
#original-price
	text-decoration line-through
	color #E53935
	margin-right 10px
#discount-price
	color #388E3C
	margin-right 10px
#promo-price
	text-decoration underline
	color #424242
#plus-one-room
	font-family 'Quicksand'
	font-weight bolder
	//font-size 16px
	margin-top 0px
	background-color #81D4FA
	color #eee
	height 20px
#free
	text-transform uppercase
	font-size 12px
	color #388E3C
	font-weight bolder
.service-num
	font-family 'Quicksand'
	font-weight 700
	margin-right 10px
	color #424242