template(name="res")
	div.container-fluid.res-div
		p.back-home.flow-text.pull-left.animated.fadeInRight#arrow-left
			span.fa.fa-arrow-left
		p.cat-title.flow-text.text-center.animated.fadeInDown#c-title
			span Residential

	div.container-fluid

		div.row-fluid.rows
			div.col-xs-12.col-lg-12
				div.media.col-xs-12.col-md-6.col-lg-4.animated.fadeInUp#living
					div.media-body
						p.media-heading.flow-text
							span.sub-cat Living Room
						ul.collection
							li.collection-item Carpet Extraction & Shampoo
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Hardwood Buff & Polish
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Tile & Grout Powerwash
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Vacuum Couches
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Dust Shelves & Desks
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Odor Care
								span.pull-right.fa.fa-check-circle-o.checks

				div.media.col-xs-12.col-md-6.col-lg-4.animated.fadeInUp#bedroom
					div.media-body
						p.media-heading.flow-text
							span.sub-cat Bed Room
						ul.collection
							li.collection-item Carpet Extraction & Shampoo
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Hardwood Buff & Polish
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Tile & Grout Powerwash
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Vacuum Couches
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Dust Shelves & Desks
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Odor Care
								span.pull-right.fa.fa-check-circle-o.checks

				div.media.col-xs-12.col-md-6.col-lg-4.animated.fadeInUp#bath
					div.media-body
						p.media-heading.flow-text
							span.sub-cat Bath Room
						ul.collection
							li.collection-item Tile & Grout Powerwash
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Disinfect entire room
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Toilet extensive treatment
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Odor Care
								span.pull-right.fa.fa-check-circle-o.checks
		br
		div.row-fluid.rows
			div.col-xs-12.col-lg-12
				div.media.col-xs-12.col-md-6.col-lg-4.animated.fadeInUp#kitchen
					div.media-body
						p.media-heading.flow-text
							span.sub-cat Kitchen
						ul.collection
							li.collection-item Hardwood Buff & Polish
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Tile & Grout Powerwash
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Disinfect Countertops & Sinks
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Polish Appliances
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Stove & Oven Deep Clean
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Empty Garbage bins
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Odor Care
								span.pull-right.fa.fa-check-circle-o.checks

				div.media.col-xs-12.col-md-6.col-lg-4.animated.fadeInUp#base
					div.media-body
						p.media-heading.flow-text
							span.sub-cat Basement / Attic
						ul.collection
							li.collection-item Carpet Extraction & Shampoo
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Hardwood Buff & Polish
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Tile & Grout Powerwash
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Dust Shelves & Desks
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Polish Appliances
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Odor Care
								span.pull-right.fa.fa-check-circle-o.checks

				div.media.col-xs-12.col-md-6.col-lg-4.animated.fadeInUp#garage
					div.media-body
						p.media-heading.flow-text
							span.sub-cat Garage
						ul.collection
							li.collection-item Air Blower
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Powerwash Oil Stains
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Dusting
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Odor Care
								span.pull-right.fa.fa-check-circle-o.checks

		div.row-fluid
			div.col-xs-12.col-lg-12
				div.media.col-xs-12.col-md-6.col-lg-4.animated.fadeInUp#deck
					div.media-body
						p.media-heading.flow-text
							span.sub-cat Patio / Deck
						ul.collection
							li.collection-item Powerwash
								span.pull-right.fa.fa-check-circle-o.checks
							li.collection-item Repair & Painting
								span.pull-right.fa.fa-check-circle-o.checks

				div.media.col-xs-12.col-md-6.col-lg-4.animated.fadeInUp#yard
					div.media-body
						p.media-heading.flow-text
							span.sub-cat Yard
						ul.collection
							li.collection-item.text-center Complete Landscape Care
								hr
								a(href="tel:2247157926")
									span.estimate Call us now for Free Estimate!
	
	footer.page-footer.text-center
			div.footer-copyright
				div.col-xs-6
					p &copy; 2016 Click-n-Clean
				div.col.xs-6
					span.fa.fa-phone &nbsp;
					a(href="tel:2247157926").footer-phone 224-715-7926		
