.res-div
	height 100%
	width 100%
	//background-color #29B6F6
	//border 1px solid red
	margin 20px auto
.resid-div
	margin-top 80px
.cat-title
	font-family "Quicksand"
	color #26B6F6
	
.back-home
	font-family "Quicksand"
	color #29B6F6
	cursor pointer
.fab-div
	margin-top 10px
.order-check
	margin-top 20px
	//visibility hidden
.total-lbl
	font-family 'Roboto'
	font-weight 100
.count
	font-family 'Quicksand'
	color #455A64
	margin-right 5px
.sub-cat
	font-family 'Roboto', sans-serif
	font-weight 100
.rows
	height 300px
#living
	animation-duration .5s
#bedroom
	animation-duration .5s
	animation-delay .1s
#bath
	animation-duration .5s
	animation-delay .2s
#kitchen
	animation-duration .5s
	animation-delay .3s
#base
	animation-duration .5s
	animation-delay .4s
#garage
	animation-duration .5s
	animation-delay .5s
#deck
	animation-duration .5s
	animation-delay .6s
#yard
	animation-duration .5s
	animation-delay .7s
#arrow-left
	animation-duration .3s
	animation-delay .1s
#c-title
	animation-duration .5s
	//animation-delay .2s
	cursor pointer
	margin-top -10px
.checks
	color #43A047
	font-size 20px
	line-height 22px
.estimate
	font-weight bolder
	color #43A047
.minus
	margin-right 20px
	color #455A64
.plus
	color #37474F