.sign-div
	margin-top 80px
.sign-lbl
	letter-spacing 2px
	animation-duration .5s
.sign-hr
	border-color #999
	animation-duration .5s
	max-width 300px
.google
	width 250px
	animation-duration .5s
	animation-delay .1s
.facebook
	width 250px
	animation-duration .5s
	animation-delay .2s
.fa-google
	line-height 55px
.fa-facebook
	line-height 55px
.noselect
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none