.profile-div
	margin 0px auto
	margin-bottom 0px
.profile-nav
	max-width 400px
div.tab-content
	max-width 400px
	margin 10px auto
	
.bert-alert.saved
	background-color #666
	color #81D4FA
	font-family 'Quicksand'
.bert-alert.empty
	background-color #666
	color #EF5350
	font-family 'Quicksand'
.bert-alert.logged-out
	background-color #666
	color #ccc
	font-family 'Quicksand'
.panel-title
	min-height 30px



	