template(name='profile')
	div.container-fluid
		ul.nav.nav-tabs.nav-justified.title-tab
			li
				a.disabled.withoutripple
					h4.title-category.text-center.title-category User Profile
	div.container-fluid.text-center
		a.btn.btn-primary#logout log out