template(name='checkout')
	div.container-fluid
		ul.nav.nav-tabs.nav-justified.title-tab
			li
				a(href='/summary').withoutripple
					i.fa.fa-arrow-circle-left.fa-2x.pull-left
			li
				a.disabled.withoutripple
					h4.title-category.text-center.title-category Payments
			li
				a.withoutripple.disabled
					i.fa.fa-arrow-circle-right.fa-2x.pull-right#hideMe
	div.container-fluid.payment-div.up-animate
		div.panel.panel-material-light-blue-400
				div.panel-heading
					h3.panel-title Choose Payment Option
				div.panel-body
					div.radio.radio-primary
						label
							input(type='radio' name='paymentOptions' value='Cash' checked='')#cash
							p Cash
					div.radio.radio-primary
						label
							input(type='radio' name='paymentOptions' value='Check' )#check
							p Check
					div.container-fluid
						i.fa.fa-info-circle#note &nbsp; Note
						p#note-p Cash and/or Check will be collected by Click n' Clean Team Supervisor upon arrival. A receipt will be issued right after the full amount due is received.

		div.container-fluid.text-center
			a.btn.btn-material-light-blue-400#submit-payment SUBMIT
