#hideMe
	visibility hidden
.payment-div
	max-width 500px
#submit-payment
	color #eee !important
div.radio > label > p
	font-family 'Quicksand'
	color #555
#note
	color #4FC3F7
	margin-bottom 10px
#note-p
	font-size 12px