template(name="main")
	div.container-fluid.text-center
		h3 Choose Service Category
	br
	div.container-fluid.text-center
		div.container
				a.cat-btn.btn.btn-primary.btn-raised.btn-material-light-blue-800#residential-main Residential
			div.container
				a(href="javascript:void(0)" data-ripple-color="#000").cat-btn.btn.btn-primary.btn-raised.btn-material-light-blue-700#office-main office / commercial
			div.container
				a(href="javascript:void(0)" data-ripple-color="#000").cat-btn.btn.btn-primary.btn-raised.btn-material-light-blue-600#enterprise-main Enterprise