input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance none
    margin 0
#save-price
	color #eee !important
div.set-price > div > div > input
	font-family 'Quicksand'
	color #01579B
	max-width 500px
span.list-group-item-heading > i
	font-size 14px
	color #ccc !important
	span
		font-size 15px
		font-family 'Quicksand'
		color #29B6F6
		margin-left 10px
		margin-right 20px
a#add-to-working
	color #eee !important
	margin-right 10px
a#add-to-completed
	color #eee !important
	margin-right 10px
a#remove-completed
	color #eee !important
	margin-right 10px
div.row-content > p
	font-family 'Quicksand'
	color #999
	span
		color #29B6F6
div.list-group-item
	margin-bottom 10px
	border-radius 3px !important
p.float
	float left
	display inline
	
// BERT ALERT

.bert-alert.added-to-working
	background-color #666
	color #81D4FA
	font-family 'Quicksand'
.bert-alert.added-to-completed
	background-color #666
	color #81D4FA
	font-family 'Quicksand'
	
.admin-div
	margin-top 80px