.order-details-div
	margin-top 10px
.order-details-title
	font-family 'Quicksand', sans-serif
	color #81D4FA
.od-lbl
	font-family 'Roboto',sans-serif
	font-weight 100
	font-size 13px
	text-transform uppercase
	margin-right 15px
#address-item
	height 40px !important