template(name="office")
	div.container.mobile.animated.fadeInUp
		div.card
			div.card-image
				img(src="/assets/img/off.jpg")
				span.card-title.flow-text Office Cleaning Services
			div.card-content
			div.card-action.text-center

				ul.collection.with-header
					li.collection-header
						h4 SuperClass Package
					li.collection-item
						p Clean & Sanitize Drinking Fountains
							
					li.collection-item
						p Dust Wipe Desk/Table Tops
							
					li.collection-item
						p Dust Air Vents & Grills
							
					li.collection-item
						p Dust Desks, Chairs, Counters & Phones
							
					li.collection-item
						p Dust Doors, Frames & Filing Cabinets
							
					li.collection-item
						p Dust High Areas & Light Fixtures
							
					li.collection-item
						p Dust Mop Floors, Stairs & Landings
							
					li.collection-item
						p Dust Partitions & Ledges
							
					li.collection-item
						p Dust Pictures, Frames & Window Coverings
							
					li.collection-item
						p Shampoo Carpets - General Offices
							
					li.collection-item
						p Empty Ashtrays, Sand Urns & Wastebaskets
					
					li.collection-item
						p Polish All Wood Furniture
							
					li.collection-item
						p Remove Trash to Designated Area
							
					li.collection-item
						p Replace Can Liners
							
					li.collection-item
						p Spot Clean Kick Plates & Baseboards
							
					li.collection-item
						p Spot Clean Partitions & Doors
							
					li.collection-item
						p Spot Clean Desks & Cabinets
							
					li.collection-item
						p Spot Clean Walls (to 5-feet)
							
					li.collection-item
						p Polish Hard surface Floors
							
					li.collection-item
						p Sweep & Clean Entrance Ways & Walkway
							
					li.collection-item
						p Sanitize door handles
							
					li.collection-item
						p Wipe Windows clean (Interior & Exterior)

	footer.page-footer.text-center
		div.footer-copyright
			div.col-xs-6
				p &copy; 2016 Click-n-Clean
			div.col.xs-6
				span.fa.fa-phone &nbsp;
				a(href="tel:2247157926").footer-phone 224-715-7926
							