template(name='time')
	div.container-fluid
		ul.nav.nav-tabs.nav-justified.title-tab
			li
				a
					i.fa.fa-arrow-circle-left.fa-2x.pull-left#date
			li
				a.disabled.withoutripple
					h4.title-category.text-center.title-category Residential
			li
				a.withoutripple
					i.fa.fa-arrow-circle-right.fa-2x.pull-right
	
	div.container-fluid.text-center
		p Select preferred time of cleaning