div.time-widget > div > a
	color #0277BD !important
.time-widget
	max-width 500px
.time-colon-lbl
	padding-top 72px
	p
		color #546E7A
.time-btn
	padding-top 55px
.time-lbl
	font-size 2em
#hour
	margin-top 10px
	color #0277BD