.date-time-div
	margin-top 80px
.select-date
	border-radius 3px
.select-date
	max-width 400px
	margin auto 10px
.date-div
	padding-top 20px
.date-lbl
	margin-left 10px
	margin-top 7px
	font-weight bolder
	color #81D4FA !important
.time-colon-lbl
	font-size 18px
#checkout
	margin 10px auto
.dt-icon
	margin-right 10px
	color #B0BEC5