template(name='residential')
	h4.text-center Residential
	br
	div.container-fluid.text-center
		+fullcalendar
	//div.container-fluid.text-center.input-group.datetimepicker
		span.input-group-addon
		input(type='text').set-due-date.form-control