ul#title-tab > li > a > i
	color #0288d1

#title-tab
	background transparent !important

.title-category
	font-family 'Quicksand'
	font-weight 700
	color #0288d1
	
.nav-justified > li
	width 1% !important
	display table-cell !important
.nav-justified > li > a
	margin-bottom 0 !important

.alpha-page-div
	max-width 500px
	