::-webkit-scrollbar
	display none

.cat-btn
	width 300px
	height 50px
	line-height 1.8em
	font-size 1.5em
.jumbotron
	margin-top 20px
	p
		font-weight bolder !important
.modal-header
	margin-bottom 30px
.modal-title
	font-family 'Quicksand', sans-serif
	font-weight 700
	color #55acee
.modal-body
	padding-bottom 50px !important
.modal-backdrop
	background-color rgba(0,0,0, 1 )
.accounts-btn
	width 200px
	color #eee
	i
		line-height 1.5em
	span
		margin-left 10px
		color #eee
.fa-google
	color #eee
.fa-facebook
	color #eee
#price-estimate
	margin-top 17px
	color #666
#duration-estimate
	margin-top 17px
	color #666
#darkest
		background-color #01579b !important
#darker
		background-color #0277bd !important
#dark
		background-color #0288d1 !important
#medium
		background-color #4FC3F7 !important
#med-light
		background-color #81D4FA !important
#light
		background-color #B3E5FC !important
#lighter
		background-color #E1F5FE !important
#white
		background-color #fff !important
div.checkbox
	color #0288d1 !important
	label
		input.checked
			color #0288d1 !important
ul
	li
		cursor pointer
		p
			//line-height 2em
			margin-top 15px
			margin-left 15px
		div
			margin-right 15px 
	
.nav-justified > li
	width 1% !important
	display table-cell !important
.nav-justified > li > a
	margin-bottom 0 !important

#google
	//background-color #db4437
#facebook
	//background-color #3b5998 
