template(name='homepage')
	div.container-fluid.homepage-div.text-center
		div.container
			div.jumbotron
				h3 Superb Cleaning Service
				p
					a(data-toggle='modal' data-target='#sign-in-with').btn.btn-primary.btn-lg sign-up now
		div.container
			p or get quick estimate		
		div.container
			a(href="javascript:void(0)").cat-btn.btn.btn-primary.btn-raised.btn-material-light-blue-800        Residential
		div.container
			a(href="javascript:void(0)").cat-btn.btn.btn-primary.btn-raised.btn-material-light-blue-700 office / commercial
		div.container
			a(href="javascript:void(0)").cat-btn.btn.btn-primary.btn-raised.btn-material-light-blue-600 Enterprise

		// Modals 
		// Sign in With

		div.container
			div.modal.backdrop.bloom-animate#sign-in-with
				div.modal-dialog
					div.modal-content
						div.modal-header
							button(type='button' data-dismiss='modal' aria-hidden='true').close
								i.fa.fa-times
							h4.modal-title Sign in with
						div.modal-body
							div.container-fluid
								button.accounts-btn.btn.btn-default#google 
									i.fa.fa-google.pull-left
									span google
							div.container-fluid
								button.accounts-btn.btn.btn-default#facebook
									i.fa.fa-facebook.pull-left
									span facebook