template(name='homepage')
	div.container-fluid.homepage-div.text-center
		div.container
			div.jumbotron
				h3 Superb Cleaning Service
				p
					a.btn.btn-primary.btn-lg sign-up now
		div.container
			p or get quick estimate		
		div.container
			a(href="javascript:void(0)").cat-btn.btn.btn-primary.btn-raised.btn-material-light-blue-800        Residential
		div.container
			a(href="javascript:void(0)").cat-btn.btn.btn-primary.btn-raised.btn-material-light-blue-700 office / commercial
		div.container
			a(href="javascript:void(0)").cat-btn.btn.btn-primary.btn-raised.btn-material-light-blue-600 Enterprise