template(name='homepage')
	
	div.main
		div.container.mobile
			div.row
				div.col.s12.m12.l6.animated.fadeInUp#res
					div.card
						div.card-image
							img(src="/assets/img/berber.jpg")
							span.card-title.flow-text Residential
						div.card-content
						div.card-action.text-center
							p.pr.flow-text 6 Rooms - $199
							p.promo SUMMER SPECIAL DISCOUNT

				div.col.s12.m12.l6.animated.fadeInUp#offices
					div.card
						div.card-image
							img(src="/assets/img/office.jpg")
							span.card-title.flow-text Offices
						div.card-content
						div.card-action.text-center
							p.pr.flow-text 300 sq ft - $119

		div.container.mobile
			div.row
				div.col.s12.m12.l6.animated.fadeInUp#hotels
					div.card
						div.card-image
							img(src="/assets/img/hotel.jpg")
							span.card-title.flow-text Hotels
						div.card-content
						div.card-action.text-center
							p.pr.flow-text Double Bed - $30
							hr
							p.pr.flow-text Suite - $45
							hr
							p.pr.flow-text Lobby - $99 / 300 sq ft

				div.col.s12.m12.l6.animated.fadeInUp#resto
					div.card
						div.card-image
							img(src="/assets/img/restaurant.jpg")
							span.card-title.flow-text Restaurants
						div.card-content
						div.card-action.text-center
							p.pr.flow-text 300 sq ft - $119


	footer.page-footer.text-center
		div.footer-copyright
			div.col-xs-6
				p &copy; 2016 Click-n-Clean
			div.col.xs-6
				span.fa.fa-phone &nbsp;
				a(href="tel:2247157926").footer-phone 224-715-7926


			