::-webkit-scrollbar
	display none
	
body
	background-image url('/assets/img/wnw.png')
	background-repeat repeat

.cat-btn
	width 300px
	height 50px
	line-height 1.8em
	font-size 1.5em
.jumbotron
	margin-top 20px
	p
		font-weight bolder !important
.modal-header
	margin-bottom 30px
.modal-title
	font-family 'Quicksand', sans-serif
	font-weight 700
	color #55acee
.modal-body
	padding-bottom 50px !important
.modal-backdrop
	background-color rgba(0,0,0, 1 )
.accounts-btn
	width 200px
	color #eee
	i
		line-height 1.5em
	span
		margin-left 10px
		color #eee
.fa-google
	color #eee
.fa-facebook
	color #eee
#price-estimate
	margin-top 17px
	color #666
#duration-estimate
	margin-top 17px
	color #666
#darkest
		background-color #01579b !important
#darker
		background-color #0277bd !important
#dark
		background-color #0288d1 !important
#medium
		background-color #4FC3F7 !important
#med-light
		background-color #81D4FA !important
#light
		background-color #B3E5FC !important
#lighter
		background-color #E1F5FE !important
#white
		background-color #fff !important
div.checkbox
	color #0288d1 !important
	label
		input.checked
			color #0288d1 !important
ul
	li
		cursor pointer
		p
			//line-height 2em
			margin-top 15px
			margin-left 15px
		div
			margin-right 15px 
	
.nav-justified > li
	width 1% !important
	display table-cell !important
.nav-justified > li > a
	margin-bottom 0 !important

#google
	//background-color #db4437
#facebook
	//background-color #3b5998 
		
.lb-estimate
	font-size 24px
	font-weight bolder !important
	color #666
	margin-top 40px

	
.services-div
	position absolute
	bottom 0
	width 100%
	p
		font-size 1.5em
		color #fff
		
.main
	margin-top 0px
.pr
	color #29B6F6
	
a.footer-phone
	font-size 20px	
	color #eee !important
	font-weight bolder
.mobile
	cursor pointer
#res
	animation-duration .5s
#offices
	animation-duration .5s
	animation-delay .1s
#hotels
	animation-duration .5s
	animation-delay .2s
#resto
	animation-duration .5s
	animation-delay .3s

.promo		
	color #eeeeee
	background-color #34bf49
	border-radius 10px
	line-height 40px
	font-weight bolder

.price
	color #455A64
	font-family 'Quicksand'
	font-weight bolder
	
.details
	color #999
	font-size 12px
#custom
	max-width 300px

.package
	background-color #eee
	border-radius 5px
	line-height 40px
	padding 10px
.modal-title
	font-family 'Quicksand'
	color #29B6F6
.modal-price
	font-family 'Quicksand'
	color #222
#modal-action
	//color #29B6F6 !important
	margin-right 10px
#package-modal
	animation-duration 1.0s
	animation-delay 0.0s
	