.header
	width 100%
	
.brand
	margin-left 15px
	font-family 'Quicksand', sans-serif !important
	font-weight 700
	color #eee
	line-height 2em
	cursor pointer
.nav-user
	color #eee
	line-height 4em
	cursor pointer