template(name='nav')
	nav.navbar.navbar-fixed-top.navbar-material-light-blue-200
		div.container-fluid.nav-div
			div.navbar-header.header
				div.col-xs-12.text-center
					//- div.col-xs-1
					//- 	img(src='/assets/img/icon3.png')#icon 
					//- div.col-xs-4
					h4
						span.brand click n' clean
				//div.col-xs-5
					if currentUser
						span.badge.pull-right#name #{user}
					else
						i(class='fa-#{person}').fa.nav-user.pull-right#person-x
						span.fa-stack.pull-right.accounts#f
							i.fa.fa-circle.fa-stack-2x#facebook-background
							i.fa.fa-facebook.fa-stack-1x.fa-inverse#facebook
						span.fa-stack.pull-right.accounts#g
							i.fa.fa-circle.fa-stack-2x#google-background
							i.fa.fa-google.fa-stack-1x.fa-inverse#google
						
						