template(name='nav')
	nav.navbar.navbar-material-light-blue-300
		div.container-fluid.nav-div
			div.navbar-header.header
				div.col-xs-6
					h4.brand click n' clean
				div.col-xs-6
					if currentUser
						span.badge.pull-right#name #{user}
					else
						i(data-toggle='modal' data-target='#sign-in-with').fa.fa-user.nav-user.pull-right