template(name="admin")
	div.container-fluid.admin-div.text-center
		span.sign-lbl.animate.fadeInDown ADMIN
		hr.sign-hr

	div.container-fluid.text-center
		input(placeholder="PASSCODE" type="password")#admin-pw
	div.container-fluid.text-center
		a(href="#{tryLink}").btn.btn-primary#try try
	div.container-fluid.text-center
		span.fa.fa-cog.fa-spin.fa-2x.fa-fw
		span.spin-lbl tracing ip address ...