input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance none
    margin 0
#save-price
	color #eee !important
div.set-price > div > div > input
	font-family 'Quicksand'
	color #01579B
	max-width 500px