input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance none
    margin 0
#save-price
	color #eee !important
div.set-price > div > div > input
	font-family 'Quicksand'
	color #01579B
	max-width 500px
span.list-group-item-heading > i
	font-size 14px
	color #ccc !important
	span
		font-size 18px
		font-family 'Quicksand'
		color #29B6F6
		margin-left 10px
		margin-right 20px
div.row-content > p
	font-family 'Quicksand'
	color #eee
div.list-group-item
	margin-bottom 10px
	padding-top 10px !important
	border-radius 3px !important
	background-color #555 !important