template(name='learn')
	div.container-fluid.learn-div
			ul.nav.nav-tabs.nav-justified.sub-title.grey-background.text-center
				li
					a(href='#services' data-toggle='tab')#services-li SERVICES
				li
					a(href='#about' data-toggle='tab') ABOUT US
	div.tab-content
		div.tab-pane.fade#services
			div.container-fluid.text-center
				h3 Residential

				h3 Office / Commercial
				h3 Enterprise
		div.tab-pane.fade#about
			div.container-fluid.text-justified
				p Click n' Clean is a Philadelphia based company providing topnotch professional cleaning services within Philly.
				br
				p We are a startup company with the ultimate goal of providing superb quality cleaning.
				br
				p We believe that clean and organized environment improves quality of life and productivity. Whether your at home or at your workplace, clean environment makes you get things done quickly.
				br
				p Our scope of services ranges from Residential to Offices to Enterprise businessess like hotels, transport services, apartment complexes & condominiums.