.install-app-div
	margin-top 40px
.fa-android
	color #a4c639
	line-height -10px
#more-vert
	color #757575
.collection-item
	min-height 40px
.fa-chrome
	line-height 20px
	color #757575
#strong
	color #757575
	font-size 14px
#coll-one
	font-size 13px	
#coll-two
	font-size 12px
#coll-three
	font-size 11px
#coll-four
	font-size 12px
.coll-num
	color #E0E0E0
	font-size 10px
	font-weight bolder
	font-family 'Quicksand'
.fa-info-circle
	line-height 25px
	color #757575
.modal
	height 100%
.modal-title
	margin-bottom 30px