template(name='date')
	div.container-fluid
		ul.nav.nav-tabs.nav-justified.title-tab
			li
				a
					i.fa.fa-arrow-circle-left.fa-2x.pull-left#rooms
			li
				a.disabled.withoutripple
					h4.title-category.text-center.title-category Residential
			li
				a.withoutripple
					i.fa.fa-arrow-circle-right.fa-2x.pull-right
	
	div.container-fluid.text-center
		p Select preferred date of cleaning
	div.container-fluid
		ul.nav.nav-tabs.nav-justified.sub-title.no-background.text-center
			li
				p DATE
			li
				p #{day}
			li
				p#date-residential #{date}
	br
	
	div.container-fluid.text-center
		+fullcalendar(id='#residential-calendar')