template(name='date')
	div.container-fluid
		ul.nav.nav-tabs.nav-justified.title-tab
			li
				a
					i.fa.fa-arrow-circle-left.fa-2x.pull-left#rooms
			li
				a.disabled.withoutripple
					h4.title-category.text-center.title-category Residential
			li
				a.withoutripple
					i.fa.fa-arrow-circle-right.fa-2x.pull-right
	
	div.container-fluid.text-center
		p Select preferred date of cleaning
	br
	div.container-fluid
		ul.nav.nav-tabs.nav-justified.sub-title.no-background
			li
				p PRICE
			li
				i.fa.fa-dollar#price-estimate &nbsp; #{priceSubtotalResidential}
			li
				p DURATION
			li
				p#duration-residential #{durationResidential} hrs
			li
				p TUESDAY
			li
				p#date-residential #{dateResidential} 11/06
	br
	div.container-fluid.text-center
		+fullcalendar