template(name='summary')
	div.container-fluid
		ul.nav.nav-tabs.nav-justified.title-tab
			li
				a(href='/address').withoutripple
					i.fa.fa-arrow-circle-left.fa-2x.pull-left#back-to-address
			li
				a.disabled.withoutripple
					h4.title-category.text-center.title-category Residential
			li
				a.withoutripple
					i.fa.fa-arrow-circle-right.fa-2x.pull-right#checkout