.address-div
	max-width 480px
	padding-top 20px
	margin-top 20px
	background-color #FAFAFA
div.address-div > div > label
	font-family 'Quicksand'
	color #777 !important
	
div.address-div > div > input
	color #01579B
.save-btn-div
	margin-top 20px
	a
		color #eee !important