
.address-panel > div > div > label
	font-family 'Quicksand'
	color #777 !important
	
.address-panel > div > div > input
	font-family 'Quicksand'
	color #01579B
.save-btn-div
	margin 20px 0px
	a
		color #eee !important
.bert-alert.saved
	background-color #666
	color #81D4FA
	font-family 'Quicksand'
.bert-alert.empty
	background-color #666
	color #EF5350
	font-family 'Quicksand'