
.address-panel > div > div > label
	font-family 'Quicksand'
	color #777 !important
	
.address-panel > div > div > input
	font-family 'Quicksand'
	color #01579B
.save-btn-div
	margin 20px 0px
	a
		color #eee !important
